name: Unit Tests

on:
  # the 1st condition
  workflow_run:                             # triggers when "build" runs and completes  
    workflows: ["CI-CD"]
    types:
      - completed

jobs:   
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: yarn    
    - uses: actions/download-artifact@v2
      with:
        name: assets
        path: dist
    - name: Run Lint Checks
      run: yarn style
